body{
    font-family: 'Poppins', sans-serif !important;
}
.services_area h1,
.pricing_items h1,
.inqurey_items h1{
    font-size: 38px;
    font-weight: 700;
    font-family: Poppins;
    color: #04856b;
    margin: 20px;
}
.top_header_section .header_txt{
    font-size: 22px;
    font-weight: 700;
    color: #00b894;
}
.top_slider_section{
    margin-top: 20px;
}
.top_slider_section .btn-convention{
    background-color: #00b894;
    padding: 10px 25px;
    border-radius: 10px;
    color: #fff;
    margin-bottom: 5px;
}
.top_slider_section .btn-convention:focus{
    background-color: #c43030;
}
.img_hover{
    transition: 0.5s ease-in-out;
}
.img_hover:hover{
    transform: scale(1.075);
    opacity: .75;
}
.price_btn{
    text-align: center;
    border-radius: 20px;
    padding: 5px 20px;
    margin-top: 10px;
}

.list_item li{
    list-style: none;
    margin-top: 8px;
    font-size: 15px;
}
.card_hover{
    transition: 0.5s ease-in-out;
}
.card_hover:hover{
    background-color: #04856b;
    color: #fff;
}
.card_active{
    background-color: #04856b;
    color: #fff;
}
.card_badge::after{
    position: absolute;
    content: "Best Selling";
    top: -15px;
    right: 10px;
    border: 1px solid;
    padding: 8px;
    background-color: #fa0238;
    color: #fff;
    border-radius: 20px;
    font-size: 14px;
    outline: 0;

}
